@import '../base';

.site-content {

    .post-content {
        box-sizing: border-box;
        min-width: 200px;
        max-width: 980px;
        margin: 0 auto;
        padding: 0px;

        .blog-heading {
            // border: 1px solid red;
            text-align: center;
            width: 100%;

            .underline-small {
                text-align: center;
                display: inline-block;
                position: relative;
                color: $element-dark;
                display: inline-block;
                position: relative;
                padding-bottom: 8px;
            }

            .underline-small::after {
                content: '';
                height: 3px;
                width: 70px;
                margin-top: 10px;
                background: $pri-orange;
                position: absolute;
                left: calc(50% - 15%);
                bottom: -5px;
            }
        }
    }

}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.2);
    // box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    padding: 1rem;
    transition: 0.3s;
    border-radius: 5px;
    display: flex;
    margin-bottom: 40px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
}

.cardbody {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 20px;
    height: 200px;
    box-sizing: border-box;
    padding: 1rem;

    h3,
    span,
    small {
        margin: 0;
        text-align: left;
    }

    h3 {
        color: $element-dark;
        font-size: 1.2rem;
        border-bottom: 2px solid #eaecef;
    }

    p {
        text-align: left !important;
    }

    span {
        color: $nonelement-dark;
    }

    .author-dec {
        border-left: 2px solid $hex-blue;
        padding-left: 8px;
    }
}

@media screen and (max-width: 768px) {
    .card {
        flex-direction: column-reverse;
        margin-bottom: 45px;

        .cover {
            width: 100%;

            .gatsby-image-wrapper {
                max-width: 100%;
                height: auto;
                display: block;
            }

        }

        .cardbody {
            .post-author {
                p {
                    margin-top: 0;
                    margin-bottom: 0;
                }

                img {
                    width: 40px;
                    height: 40px;
                    min-width: 0;
                    border-radius: 50%;
                    margin-left: 0;
                }
            }
        }
    }

    @media (max-width: 768px) {
        .post-content {
            padding: 15px;
        }
    }
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

.link {
    text-decoration: none;
    color: black;
}

.cover {
    width: 300px;
    height: 200px;

    img {
        object-fit: cover;
        border-radius: 2px 0px 0px 2px;
        width: 100%;
        height: 100%;
    }
}